.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
}

.buscador {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.btn-block {
    width: 100%; 
    
}
/* ${styles["btn-block"]} para que JS tome la clase con guion medio */